.sign-in {
    width: 380px;
    display: flex;
    flex-direction: column;
    padding-right: 60px;

    .title{
        margin: 10px 0;
    }

    .buttons{
        display: flex;
        justify-content: space-between;
    }
}